/* colors from colorhunt:https://colorhunt.co/palette/261c2c3e2c415c527f6e85b2 */
:root {
--Background: #3E2C41;
--Text: white;
--Button: #6E85B2;
}

/* universal */
* {
box-sizing: border-box;
}

/* this include background color */
body {
font-family: 'Courier New', Courier, monospace;
margin: 0;
display: flex;
flex-direction: column;
min-height: 100px;
justify-content: flex-start;
background-color: var(--Background);
color:var(--Text);

}
/* the easiest code header */
header {
text-align: center;
border-bottom: 40px;
padding: 40px;
color:var(--Text);
font-size: 50px;

}

/* button to re-do quiz */
.reset-button {
    font-size:50px;
    height: 70px;
    line-height: 10px;
    margin-top: 10px;

}


.right-wrong-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    }
/* colors of button */
button {
    color:var(--Text);
    background-color: var(--Button);
    font-size:50px;
    height: 70px;
    line-height: 10px;
    margin-top: 10px;
    text-align: center;
}


