/* colors from colorhunt:https://colorhunt.co/palette/261c2c3e2c415c527f6e85b2 */
:root {
--Background: #3E2C41;
--Text: white;
--Button: #6E85B2;
--Text-two: black;
}

/* universal */
* {
box-sizing: border-box;
}

/* this include background color */
body {
font-family: 'Courier New', Courier, monospace;
margin: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
background-color: var(--Background);

}
/* the easiest code header */
header {
text-align: center;
border-bottom: 40px;
padding: 40px;
color:var(--Text);
font-size: 50px;
font-family: 'Courier New', Courier, monospace;
}
/*view scores button added to footer */
footer {
text-align: center;
border-bottom: 10px;
padding: 40px;
bottom: auto;

    }
/* organize both sections/white boxes */
main {
display:flex;
flex: wrap;
justify-content: space-around;
}

/* section the left */
.quiz-questions {
    width: 50vw;
    height: 20vw;
    text-align:center;
    word-wrap:break-word;
    background-color:var(--Text);
    border-radius: 30px;
    flex: 0 auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
/* white-box on the right */
.quiz-results {
    width: 30vw;
    height: 20vw; 
    text-align: center;
    word-wrap:break-word;
    background-color:var(--Text);
    border-radius: 30px;
    flex: 0 auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quiz-timer{
padding: 10px;

}

/* section on the right */
.correct-incorrect-section{
    color:var(--Text-two);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}



/* button to re-do quiz */
#reset-button, #header-button, #score-button{
    color:var(--Text);
    background-color: var(--Button);
    font-size:50px;
    height: 70px;
    line-height: 10px;
    margin-top: 30px;
    text-align: center;
    

}

/* this is diplaying the seconds remaining */
.timer-count{

    color:red;
    font-size: 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


/* The ready message before hitting begin button text*/
.button-initiator {
   
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px ;
    font-size: 30px;
    
}

/* this is incorrect/correct anwsers heading*/
h2 {

    color:var(--Text-two); 
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}

@media screen and (max-width: 992px){
main {
    flex-direction: column;
}

.quiz-results, .quiz-questions {

    width: 20vw;
    height: 40px;
}


}